#logo {
  display: block;
  position: relative;
  height: 200px;
  width: 200px;
  padding-top: 200px;
}
#logo:before {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;
  height: 60px;
  width: 60px;
  background: url('../img/culturegraphic-logomark.svg') no-repeat;
  content: ' ';
}