html
  head
    title= title
    style
      include style.css
  body
    //h1= message
    h1 Nate Kerksick
    table
      each row in workRows.length ? workRows : ['There are no values']
        tr
          each cell in row.length ? row : ['There are no values']
            td= cell
