@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

html {
  font-family: 'Noto Serif JP', sans-serif;
}
body {
  padding: .5em;
}
table {
  border-collapse: collapse;
  font-size: .95em;
}
table tr {
  border-top: 1px solid blue;
}
table td {
  padding: .75em 1.5em .75em 0;
}
table tr td:first-child {
  font-weight: bold;
}
